<section class="subscription py-4 px-5">
    <div class="container">
        <div class="row  mx-auto">
            <div class="col-6 col-lg-3">
                <p class="text-white sub-title">INFORMATION</p>
                <div class="sub-link text-70-white list-unstyled">
                    <a href="#">About Us</a>
                    <a href="#">Privacy</a>
                    <a href="#">Conditions</a>
                    <a href="#">Online support</a>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <p class="text-white sub-title">MY ACCOUNT</p>
                <div class="sub-link text-70-white list-unstyled">
                    <a  href="#">Login</a>
                    <a href="#">My Cart</a>
                    <a href="#">Wishlist</a>
                    <a href="">Checkout</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <p class="text-white sub-title">COMMENTS</p>
                <div class="sub-link text-70-white list-unstyled">
                    <a href="#">About Us</a>
                    <a href="#">Privacy</a>
                    <a href="#">Conditions</a>
                    <a href="#">Online support</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="row">
                    <div class="col-12">
                        <p class="text-white sub-title">ORDERS</p>
                        <div class="sub-link text-70-white list-unstyled">
                            <a  href="#">Payment options</a>
                            <a href="#">Shipping and delivery</a>
                            <a href="#">Returns</a>
                            <a href="#"> Shipping</a>
                        </div>
                    </div>
                    <div class="col-10 col-md-12">
                        <img class="footer-card" src="../img/cards/master-card.png" alt="">
                        <img class="footer-card" src="../img/cards/visa.png" alt="">
                        <img class="footer-card" src="../img/cards/blue-card.png" alt="">
                        <img class="footer-card" src="../img/cards/dacover.png" alt="">
                        <img class="footer-card" src="../img/cards/paypal.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class=" bg-dark py-4 ">
        <div class="container">
            <div class="row container-footer footer-color-text ">
                <div class="d-none d-lg-block col-lg-4">

                </div>
                <div class="col-12 pb-md-2 col-md-6 pb-md-0 col-lg-4">
                    <div class="row justify-content-center justify-content-md-start justify-content-lg-center">
                        <p class="footer-text ">
                            &copy;Copyright 2016 Bazar | All Rights Reserved
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="row justify-content-center  justify-content-md-end ">
                        <ul class="list-inline list-unstyled ">
                            <li class="list-inline-item">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                            <li class=" list-inline-item">
                                <i class="fab fa-twitter"></i>
                            </li>
                            <li class=" list-inline-item">
                                <i class="fab fa-youtube"></i>
                            </li>
                            <li class=" list-inline-item">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                            <li class=" list-inline-item">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                            <li class=" list-inline-item">
                                <i class="fab fa-pinterest-p"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>