<div class="container" id="gallery">
    <div class="row my-4 justify-content-center">
        <div class="col-12 col-md-9 col-lg-6">
            <div class="gallery">
                <!-- Section title -->
                <h2 class="gallery__title">furniture gallery</h2>

                <!-- Gallery tabs -->
                <ul class="gallery__tabs nav nav-tabs nav-justified mt-4">
                    <li class="gallery__tabs__item nav-item">
                        <a class="nav-link gallery__tabs__link active" data-toggle="tab" href="#homeFurniture">featured</a>
                    </li>
                    <li class="gallery__tabs__item nav-item">
                        <a class="nav-link gallery__tabs__link" data-toggle="tab" href="#">top seller</a>
                    </li>
                    <li class="gallery__tabs__item nav-item">
                        <a class="nav-link gallery__tabs__link" data-toggle="tab" href="#">SAle off</a>
                    </li>
                    <li class="gallery__tabs__item nav-item">
                        <a class="nav-link gallery__tabs__link" data-toggle="tab" href="#">top rated</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="gallery__tab-content tab-content">
                    <div class="inner-gallery active" id="homeFurniture">
                        <div class="inner-gallery__content" id="inner-gallery__content">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-2 d-flex align-items-center justify-content-center flex-column">
                                    <button id="like" class="far fa-heart like d-flex align-items-center justify-content-center my-1"
                                       data-placement="right"
                                       data-toggle="tooltip"
                                           title="Like">
                                    </button>
                                    <button class="view d-flex align-items-center justify-content-center my-1"
                                            data-toggle="modal" data-target="#show-modal">
                                        <i data-placement="right"
                                            data-toggle="tooltip" title="View more" class="fas fa-eye"></i>
                                    </button>
                                    <button class="toCard d-flex align-items-center justify-content-center my-1"
                                       data-placement="right"
                                            onclick="basket.onClickToAdd(this, '#inner-gallery__content', addToBasketFromGallery)"
                                       data-toggle="tooltip" title="Add To Cart"><i
                                            class="fas fa-shopping-basket"></i></button>
                                </div>
                                <div class="col position-relative">
                                    <img alt="Single product" class="itemImage b-image"
                                         src="">
                                    <div class="aboutItem">
                                        <h4 class="aboutItem__title b-title"></h4>
                                        <div class="aboutItem__rate" id="rate">
                                        </div>
                                    </div>
                                    <div class="roundPrice position-absolute d-flex align-items-center justify-content-center flex-column">
                                        <span class="roundPrice__currentPrice b-price" id="price"></span>
                                        <span class="roundPrice__lastPrice b-lastPrice" id="lastPrice"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-gallery__tabs d-flex p-2" id="inner-gallery__tabs">
                        <img alt="Single product" data-id="000" data-price="120.00" data-lastPrice="160.00" data-rate="5" data-title="Aenean Ru Bristique" src="../img/furniture_gallery_items/10.png">
                        <img alt="Single product" data-id="001" data-price="130.00" data-lastPrice="200.00" data-rate="2" data-title="Some chair" src="../img/furniture_gallery_items/11.png">
                        <img alt="Single product" data-id="002" data-price="120.00" data-lastPrice="160.00" data-rate="4" data-title="Lorem ispum" src="../img/furniture_gallery_items/12.png">
                        <img alt="Single product" data-id="003" data-price="120.00" data-lastPrice="160.00" data-rate="2" data-title="Lorem ispum" src="../img/furniture_gallery_items/13.png">
                        <img alt="Single product" data-id="004" data-price="120.00" data-lastPrice="160.00" data-rate="3" data-title="Lorem ispum" src="../img/furniture_gallery_items/14.png">
                        <img alt="Single product" data-id="005" data-price="520.00" data-lastPrice="1000.00" data-rate="1" data-title="Lorem ispum" src="../img/furniture_gallery_items/15.png">
                        <img alt="Single product" data-id="006" data-price="120.00" data-lastPrice="160.00" data-rate="3" data-title="Lorem ispum" src="../img/furniture_gallery_items/16.png">
                        <img alt="Single product" data-id="007" data-price="120.00" data-lastPrice="160.00" data-rate="2" data-title="Lorem ispum" src="../img/furniture_gallery_items/17.png">
                        <img alt="Single product" data-id="008" data-price="120.00" data-lastPrice="160.00" data-rate="5" data-title="Lorem ispum" src="../img/furniture_gallery_items/18.png">
                        <img alt="Single product" data-id="009" data-price="120.00" data-lastPrice="160.00" data-rate="5" data-title="Lorem ispum" src="../img/furniture_gallery_items/19.png">
                        <img alt="Single product" data-id="010" data-price="120.00" data-lastPrice="160.00" data-rate="4" data-title="Lorem ispum" src="../img/furniture_gallery_items/20.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block col-lg-6">
        <div class="galleryBanner">
            <h4 class="galleryBanner__top">from <span class="price">50.80</span></h4>
            <h3 class="galleryBanner__title">Bedroom Bed</h3>
            <a class="btn galleryBanner__btn" href="#">shop now</a>
        </div>
    </div>
</div>
</div>
