<div class="top-slider" id="slider">
  <div class="container">
    <div class="row">
      <div class="top-slider__area carousel slide" id="carouselControls" data-ride="carousel">
        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <img class="d-block" src="./img/top-slider/1.jpg" alt="First slide">
            <div class="top-slider__area__content carousel-caption">
              <h3 class="top-slider__area__title">indoor <span class="top-slider__area__title--strong">furniture</span></h3>
              <p class="top-slider__area__description">save up to 50% of all furniture</p>
              <a href="#" class="top-slider__area__btn btn">shop now</a>
            </div>
          </div>
          <div class="carousel-item h-100">
            <img class="d-block" src="./img/top-slider/2.jpg" alt="Second slide">
            <div class="top-slider__area__content carousel-caption">
              <h3 class="top-slider__area__title">indoor <span class="top-slider__area__title--strong">furniture</span></h3>
              <p class="top-slider__area__description">save up to 50% of all furniture</p>
              <a href="#" class="top-slider__area__btn btn">shop now</a>
            </div>
          </div>
        </div>
        <div class="top-slider__area__play-controls play-controls">
          <a class="play-controls__control play-controls__control--prev" href="#carouselControls" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="play-controls__control play-controls__control--next" href="#carouselControls" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
