 <section class="subscribe">
     <div class="row m-0">
     <div class="container px-0">
             <div class="col-lg-8  mx-0 mx-lg-auto">
                 <div class="row">
                     <div class="d-none d-md-block col-md-3 pt-3">
                         <p class="subscribe-title font-weight-bold">
                             NEWSLETTER:
                         </p>
                     </div>
                     <div class="col-12 col-md-9 px-3">
                         <div class="row justify-content-sm-center justify-content-md-end my-2 mx-0">
                             <div class="col-10 px-md-0 col-md-10">
                                 <div class="subscribe-mail rounded " >
                                     <form class="">
                                         <label class="mb-0" for="mail">
                                             <i class="fas fa-envelope "></i>
                                             <input type="email" id="mail" class="ml-2 subscribe-input" placeholder="Subscribe to newsletter">
                                         </label>
                                     </form>

                                 </div>
                             </div>
                             <div class="col-auto pl-0 pl-md-3">
                                 <div class="subscribe-arrow rounded px-3 ">
                                     <i class="fas fa-arrow-right"></i>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>


