.our-features {
  margin-bottom: 80px;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }

  &__feature {
    // TEMP:
    margin: 0 auto;
    color: #2a2a2a;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
    text-align: center;
    max-width: 263px;
    width: 100%;
    font-weight: 300;
    padding: 52px 0 22px;
    margin: 70px auto 30px;
    position: relative;

    &__icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 7px;
      border: 2px solid #d9d9d9;
      border-radius: 100%;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid #d9d9d9;
        font-size: 26px;
        width: 62px;
        height: 62px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      color: inherit;
    }

    &__description {
      font-size: 20px;
      color: inherit;
    }

    &:hover {
      color: #e0a38e;

      i {
        background-color: #d58e32;
        color: #fff;
      }
    }
  }
}
