.subscription{
  background: #363636;
  .sub-title{
    padding-bottom: 10px;
  }
  .sub-link{
    &>*{
      display: block;
      color: $white60;
      &:hover{
        text-decoration: underline;
      }
    }

  }
  .footer-card{
    padding-bottom: 10px;
  }
  .text-70-white{
    color: $white60;
    >*{
      padding-bottom: 10px;
      &:last-child{
        padding-bottom: 30px;
      }
    }
  }
}

.footer{
  >*{
    color: $white60;
  }
  .fab:hover{
    color: $activeColor;
  }
}

@media (min-width: 768px) {
  .sub-title{
    font-size: 18px;
  }
}


