// Navigate bar
.navigation-top {
  background: #434343;
  color: #fff;
  font-size: 13px;
  font-weight: 500;

  &__hot-keys {
    &__item {
      color: inherit;
    }
  }

  &__entry {
    &__login, &__register {
      color: inherit;
    }
  }
}

// Header
.header {
  background: #363636;
  color: #d8d8d8;

  &__phone {
    font-weight: 600;
    font-size: 17px;
    color: inherit;

    i {
      color: #d58e32;
      font-size: 44px;
    }
  }

  &__basket {
    width: 51px;
    height: 49px;
    background: #d58e32;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;

    &:hover {
      background: #d57a0e;
    }

    &::after {
      content: attr(data-count-items);
      position: absolute;
      top: 50%;
      right: 0;
      min-height: 29px;
      min-width: 29px;
      font-size: 14px;
      font-weight: 500;
      transform: translate(50%, -50%);
      background: #363636;
      border-radius: 15px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Top-menu
.navigation-bottom {
  position: sticky;
  z-index: 5;
  box-shadow: 0 4px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  &__search-form {
    width: 227px;
    @media (min-width: 768px) {
      width: 320px;
    }
    height: 47px;
    margin: 20px 0 18px;
  }
}
.search-form {
  border: 1px solid #000;
  display: flex;
  align-items: stretch;
  background: #fff;

  &__input {
    padding-left: 16px;
    overflow: hidden;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    color: #a4a4a4;
  }

  &__submit {
    background: none;
    border: none;
    font-size: 16px;
    color: #2a2a2a;
  }
}

.navbar__menu {
  text-transform: uppercase;
  @media (max-width: 992px) {
    margin-top: 110px;
  }

  .active {
    background: #d58e32;
    border-top: 4px solid #2a2a2a;
    @media (max-width: 992px) {
      background: none;
      border: 0;
      line-height: 2;

      &::after {
        content: '';
        display: inline-block;
        width: 97px;
        height: 1px;
        background: #646464;
      }
    }
    color: #fff;
  }

  &__item {
    font-weight: 400;
    border-top: 4px solid #fff;
    @media (max-width: 992px) {
      border: 0;
      color: #676767;
      padding: 0 11px;
      text-align: right;
      line-height: 40px;
    }
    color: #2a2a2a;
    font-size: 14px;
    padding: 31px 15px 34px;

    &:hover {
      @media (min-width: 992px) {
        background: #d58e32;
        border-top: 4px solid #2a2a2a;
      }
      color: #fff;
    }
  }

  &__link {
    color: inherit;
    font-weight: 600;

    &:hover {
      color: inherit;
    }
  }
}

.navbar-toggler {
  line-height: 0;
  padding: 0;
  z-index: 1;
  margin-right: 12px;

  &-icon {
    width: 29px;
    height: 3px;
    background: #000;
    margin: 1px;
    transition: background-color .3s, width .3s, margin .3s;
  }

  &::before, &::after {
    content: '';
    display: block;
    @extend .navbar-toggler-icon;
    transition: transform .3s;
  }
}

.navbar-collapse {
  @media (max-width: 991px) {
    box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
    background: #363636;
    position: absolute;
    top: 0;
    width: 154px;
  }
}

.navbar {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] {
  .navbar-toggler{
    &-icon {
      width: 0;
      margin: 0;
    }
  }
  &::before, &::after {
    content: '';
    background: #fff;
    margin: -3px;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.underline-hover:hover {
  color: inherit;
  text-decoration: underline;
}