// Register modal
.modal {
  h5 {
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 600;
  }
  .btn-primary {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);

    &:hover {
      background-color: #d58e32;
    }

    &:focus {
      outline-color: #636363;
    }
  }

  .close-primary {
      background-color: #2a2a2a;
      width: 41px;
      height: 37px;

    &:hover {
      background-color: #d58e32;
    }
  }

  input {
    height: 51px;
    padding: 0 13px;
  }

  input::placeholder {
    line-height: 100%;
    font-size: 14px;
    color: #676767;
  }
}

#baskedModal {
  .modal-dialog {
    max-width: 100%;
  }
  .cardIsEmpty {
    color: #939393;

    &__title {
      font-size: 48px;
      font-weight: 600;
      color: inherit;
    }
    &__description {
      font-size: 30px;
      font-weight: 100;
      line-height: 52.71px;
     }
  }

  .cardItems {
    .example {
      display: none;
    }
    &__item {
      &__title {
        font-size: 22px;
        color: #2a2a2a;
        font-weight: 600;
      }

      &__price {
        line-height: 37px;

        .lastPrice::before, .currentPrice::before {
          content: '$';
        }

        .lastPrice {
          font-size: 20px;
          color: #939393;
          font-weight: 300;
        }

        .currentPrice {
          font-size: 22px;
          color: #ffffff;
          font-weight: 600;
          background-color: #2a2a2a;
        }
      }
    }
  }

  .quantity {
    &__name {
      color: #2a2a2a;
      font-size: 14px;
      font-weight: 500;
    }

    &__itemCount {
      width: 73px;
      height: 37px;
      text-align: center;
      border: 1px solid #000;
      box-sizing: border-box;
      background-color: transparent;
    }

    &__plus, &__minus {
      background-color: transparent;
      border: 1px solid #2a2a2a;
      line-height: 100%;
      text-align: center;
      width: 40px;
      height: 37px;

      &:hover {
        border-color: #d58e32;
        color: #d58e32;
      }
      &:focus {
        outline-color: #d58e32;
      }
    }
  }

  .sum {
    &__title {
      color: #939393;
      font-weight: 300;
      font-size: 20px;

    }

    &__price {
      color: #2a2a2a;
      font-size: 22px;
      font-weight: 600;

      &::before {
        content: '$';
      }
    }
  }

  .totalPrice {
    font-size: 22px;
    color: #2a2a2a;

    &__value::before {
      content: '$';
    }
  }
}

.modal-footer {
  button {
    font-size: 13px;
    font-weight: 600;

    i {
      left: 5px;
      top: 48%;
      transform: translateY(-50%)
    }
  }

  &__continue {
    background-color: #939393;
  }

  &__buyNow {
    background-color: #d58e32;

  }
}