.benefits{
  .container:first-child{
    padding: 0;
  }
  .bg-sofa{
    background-image: url("../../img/stock/stocks_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .inner-sofa{
      background-color: rgba(0,0,0,0.4);
      &>*{
        margin: 0;
      }
      .sale-sofa{
        margin-top: 12px;
        font-size: 50px;
        border: 5px solid white;
      }
    }
  }
  .bg-chair{
    background-color: #e8edf7;
    overflow: hidden;
    .chair-1{
      position: absolute;
      left: -10px;
      top: -30px;
      .chair-black{
        width: 140px;
      }
    }
    .chair-2{
      position: absolute;
      transform: scaleX(-1);
      right: 5px;
      .chair-orange{
        width: 120px;
      }
    }
    .info-chair{
      &>*{
        margin: 0;
      }
      .title-chair{

      }
      .text-chair{
        font-size: 14px;
        letter-spacing: 3px;
      }
      .cost-chair{
        color: $activeColor;
        font-size: 32px;
      }
    }
  }
  .bg-bed{
    background-color: #fbf3f7;
    overflow: hidden;
    .bed{
      position: absolute;
      transform: scaleX(-1);
      .bed-img{
        max-width: 220px;
      }
    }
    .title-bed{
      color: $activeColor;
    }
    .text-bed{
      font-size: 16px;
      color: $main-color;
    }
  }
}

@media (min-width: 768px) {
  .benefits{
    .bg-sofa{
      padding: 50px;
      .inner-sofa{
        padding: 150px 0 20px 20px;
        &>*{
          font-size: 45px;
        }

      }
    }
    .bg-chair{
      padding-bottom: 15px;
      .chair-1{
        left: -15px;
        top: -40px;
        .chair-black{
          width: 200px;
        }
      }
      .chair-2{
        right: -5px;
        .chair-orange{
          width: 180px;
        }
      }
      .info-chair{
        .title-chair{
          font-size: 45px;
        }
        .text-chair{
          font-size: 20px;
          letter-spacing: 4px;
        }
        .cost-chair{
          font-size: 38px;
        }
      }
    }
    .bg-bed{
      .bed{
        .bed-img{
          max-width: 280px;
        }
      }
      .title-bed{
        margin-top: 10px;
        font-size: 30px;
      }
      .text-bed{
        font-size: 22px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .benefits{
    .bg-sofa{
      padding: 30px;
      .inner-sofa{
        padding: 110px 0 20px 20px;
        &>*{
          font-size: 36px;
        }
      }
    }
    .bg-chair{
      .chair-1{
        .chair-black{
          width: 190px;
        }
      }
      .chair-2{
        .chair-orange{
          width: 160px;
        }
      }
      .info-chair{
        .title-chair{
          font-size: 34px;
        }
        .cost-chair{
          font-size: 38px;
        }
      }
    }
    .bg-bed{
      .bed{
        top:-12px;
        .bed-img{
          max-width: 270px;
        }
      }
      .title-bed{
        font-size: 24px;
      }
      .text-bed {
        font-size: 18px;
      }
    }
  }
}