.subscribe{
  background: #f2f2f2;
  &-title{
    color: $activeColor;
    font-size: 18px;
  }
  &-mail{
    background: white;
    padding: 10px;
    .fas{
      padding-right: 10px;
      border-right: 1px solid $white60;
    }
    .subscribe-input{
      border: none;
    }
  }
  &-arrow{
    background: white;
    padding: 10px;
  }
  .fas{
    color: $activeColor;
  }
}

@media (min-width: 1200px) {
  .subscribe{
    &-title{
      font-size: 22px;
    }
  }
}